@{
    string title = Document.GetString("Title") ?? Document.GetString("SiteTitle");
    bool isPost = Document.GetBool("IsPost") && title != "Tags" && title != "Archive";
    bool hasImage = Document.ContainsKey(WebKeys.Image);
    string linkedPost = Document.GetString("linkedPost");
    string description = Document.WithoutSettings().GetString("Lead") ?? Document.WithoutSettings().GetString(WebKeys.Description);
    string backgroundImage = hasImage && !isPost
      ? $"background-image: url(\"{Context.GetLink(Document.GetString(WebKeys.Image))}\")"
      : null; // backround images not currently used on posts to avoid conflict with og tags
    string headingClass = isPost || linkedPost != null
      ? "post-heading"
      : hasImage ? "site-heading" : "page-heading";
}

<header class="masthead" style="@backgroundImage">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="@headingClass">
          <h2>
            @title
            @if (Document.GetInt(Keys.Index) > 1)
            {
              <small>(Page @Document.GetString(Keys.Index))</small>
            }
          </h2>
          @if (!string.IsNullOrEmpty(description))
          {
            <h2 class="subheading">@description</h2>
          }
          @if (isPost)
          {
              // This is a blog post so show extra data
              string postDir = System.IO.Path.GetDirectoryName(Document.GetString("Destination")) ?? "";
              IDocument topic = Outputs.Get(postDir + "/index.html");

              <div class="meta">Published on @Document.GetDateTime(WebKeys.Published).ToLongDateString()</div>
              <div class="mt-3 mb-3">
                @if (topic != null)
                {
                  <i>Topic:</i>
                  <a href="@Context.GetLink(topic)" class="badge badge-light mr-5">@topic.GetString(Keys.Title)</a>
                }
                @if (Document.ContainsKey("Tags"))
                {
                  <i>Tags:</i>
                  @foreach (IDocument tag in Document.GetList<string>("Tags")
                    .Select(x => Outputs["tags.html"].First().GetChildren().FirstOrDefault(y => y.GetTitle().Equals(x, StringComparison.OrdinalIgnoreCase)))
                    .Where(x => x != null))
                  {
                    <a href="@Context.GetLink(tag)" class="badge badge-light"> @tag.GetTitle()</a>
                  }
                }
              </div>
          }
          else if (linkedPost != null)
          {
              // This is a supplementary page, linked from a post, so show link back to it
              <div class="mt-3 mb-3">
                <a href="@Context.GetLink(linkedPost)" class="badge badge-light">&lt;&lt; Back to Post</a>
              </div>
          }
        </div>
      </div>
    </div>
  </div>
</header>