@model IDocument

@{
    IDocument[] topics = new [] { 
        Outputs.Get("technical/index.html"),
        Outputs.Get("family-photos/index.html"),
        Outputs.Get("family-history/index.html")
    };

    bool isTagPage = Model.ContainsKey(Keys.GroupKey);
    string groupKey = Model.GetString(Keys.GroupKey);
}

<h5>Topics</h5>

<ul class="nav flex-column">
    @foreach (IDocument topic in topics)
    {
        if (topic != null)
        {
        string link = @Context.GetLink(topic);
        string title = @topic.GetString("Title");
        string badgeStyle = topic.Destination == Model.Destination ? "badge-dark" : "badge-light";

        <li class="nav-item">
            <a class="badge @badgeStyle" href="@link">@title</a>
        </li>
        }
    }
</ul>
    
@{
    IDocument[] tags = Outputs.Get("tags.html")?.GetChildren().OrderByDescending(x => x.GetChildren().Count()).ToArray();
    int numTags = tags.Length;
    int counter = 0;

    if (numTags > 0)
    {
        <div class="mt-4">
            <h5>Tags</h5>
            @foreach (IDocument tag in tags)
            {
                if (!isTagPage && ++counter > 10) break;

                string badgeStyle = groupKey != null && groupKey.Equals(tag.GetTitle(), StringComparison.OrdinalIgnoreCase) ? "badge-dark" : "badge-light";
                string postCount = tag.GetChildren().Count().ToString();
                <a href="@Context.GetLink(tag)" class="badge @badgeStyle"> @tag.GetTitle() (@postCount)</a>
            }
            @if (!isTagPage && numTags > 10)
            {
                <div class="mt-3">
                    <div class="float-sm-right">
                        <a class="btn btn-sm btn-primary" href="@Context.GetLink(Outputs.Get("tags.html"))" role="button">All Tags <i class="fas fa-angle-double-right"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    }
}
